<div class="row">
    <div class="col-md-12">
        <ul class=" headerMenu">
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(wheelCategory) }">
                    <svg>
                        <use xlink:href="#categories" />
                    </svg> All categories
                </a>
                <!-- <ul>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use xlink:href="#tire" />
                            </svg> Tires and wheels
                        </a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(tireCategory) }">
                    <svg>
                        <use xlink:href="#tire" />
                    </svg> Tires and wheels
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(oilCategory) }">
                    <svg>
                        <use xlink:href="#oil" />
                    </svg> Oils
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(breakCategory) }">
                    <svg>
                        <use xlink:href="#brakes" />
                    </svg> Brakes
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(engine) }">
                    <svg>
                        <use xlink:href="#engine" />
                    </svg> Engine
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(interior) }">
                    <svg>
                        <use xlink:href="#interior" />
                    </svg> Interior Parts
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(exterior) }">
                    <svg>
                        <use xlink:href="#exterior" />
                    </svg> Exterior Parts
                </a>
            </li>
            <li>
                <a href="" routerLink="/categories" [queryParams]="{ category: getEcraptedId(accessories) }">
                    <svg>
                        <use xlink:href="#accessories" />
                    </svg> Accessories
                </a>
            </li>
        </ul>
    </div>
</div>