<h2 class="heading-2 mb-3">
    Invoice Details
</h2>
<div class="orderList">
    <h4>
        Your Order
    </h4>
    <ul class="productItems">
        <app-order-product-item [product]="product" *ngFor="let product of productList"></app-order-product-item>
    </ul>
    <div class="mb-4">
        <app-coupon></app-coupon>
    </div>
    <ul class="priceDetails">
        <li class="d-flex justify-content-between">
            Subtotal<span> {{ subTotalPrice }}</span>
        </li>
        <li class="d-flex justify-content-between">
            Shipping<span> {{ (shipping > 0) ? shipping : "Free"}} </span>
        </li>
        <li class="d-flex justify-content-between">
            Total Amount<span> {{ total }}</span>
        </li>
    </ul>
</div>