<li class="reviewer">
    <img src="../../../assets/images/productImage.png" class="img-fluid">
    <div class="reviewerDetails">
        <h3>
            Abd el rahman
        </h3>


    </div>
    <div class="ratingStars d-flex ml-auto  pr-3 justify-content-between">
        <img src="../../../../assets/icons/star.svg" />
        <img src="../../../../assets/icons/star.svg" />
        <img src="../../../../assets/icons/star.svg" />
        <img src="../../../../assets/icons/star.svg" />
        <img src="../../../../assets/icons/star.svg" />
    </div>
</li>
