<footer>
    <div class="darkGraySec">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <app-footer-feature></app-footer-feature>
                </div>
                <div class="col-md-3">
                    <app-footer-feature></app-footer-feature>
                </div>
                <div class="col-md-3">
                    <app-footer-feature></app-footer-feature>
                </div>
                <div class="col-md-3">
                    <app-footer-feature></app-footer-feature>
                </div>
            </div>
        </div>
    </div>
    <div class="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <ul class="d-flex flex-column">
                            <li>
                                About
                            </li>
                            <li>
                                <a href="">
                  About
                </a>
                            </li>
                            <li>
                                <a href="">
                  Contact Us
                </a>
                            </li>
                            <li>
                                <a href="">
                  Carees
                </a>
                            </li>
                        </ul>
                        <ul class="d-flex flex-column">
                            <li>
                                Buy
                            </li>
                            <li>
                                <a href="">
                  About
                </a>
                            </li>
                            <li>
                                <a href="">
                  Contact Us
                </a>
                            </li>
                            <li>
                                <a href="">
                  Carees
                </a>
                            </li>
                            <li>
                                <a href="">
                  Contact Us
                </a>
                            </li>
                            <li>
                                <a href="">
                  Carees
                </a>
                            </li>
                        </ul>
                        <ul class="d-flex flex-column">
                            <li>
                                Sell
                            </li>
                            <li>
                                <a href="">
                  About
                </a>
                            </li>
                            <li>
                                <a href="">
                  Contact Us
                </a>
                            </li>
                            <li>
                                <a href="">
                  Carees
                </a>
                            </li>
                            <li>
                                <a href="">
                  Contact Us
                </a>
                            </li>
                            <li>
                                <a href="">
                  Carees
                </a>
                            </li>
                        </ul>
                        <ul class="d-flex flex-column">
                            <li>
                                Contacts
                            </li>
                            <li>
                                <svg>
                  <use xlink:href="#web"></use>
                </svg>
                                <a href="">
                  Odiggo.com.eg
                </a>
                            </li>
                            <li>
                                <svg class="fillWhite">
                  <use xlink:href="#phone"></use>
                </svg>
                                <a href="">
                  01029658350‬
                </a>
                            </li>
                            <li>
                                <svg>
                  <use xlink:href="#mail"></use>
                </svg>
                                <a href="">
                  info@odiggo.com
                </a>
                            </li>
                            <li>

                                <span>Follow us</span>
                                <ul>
                                    <li>
                                        <a href="">
                                            <svg class="fillWhite">
                        <use xlink:href="#fb"></use>
                      </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <svg class="fillWhite">
                        <use xlink:href="#ig"></use>
                      </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <svg class="fillWhite">
                        <use xlink:href="#linkedin"></use>
                      </svg>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="d-flex flex-column">
                            <li>
                                We are now International
                            </li>
                            <li class="mb-5">
                                <ul class="d-flex justify-content-between w-100">
                                    <li class="d-flex align-items-center">
                                        <img class="img-fluid" src="../../../assets/images/egypt.png"> Egypt
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <img class="img-fluid" src="../../../assets/images/ksa.png"> KSA
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <img class="img-fluid" src="../../../assets/images/uae.png"> UAE
                                    </li>
                                </ul>
                            </li>
                            <li class="d-flex flex-row justify-content-between align-items-baseline w-100">
                                <img src="../../../assets/images/Visa-light.png" />
                                <img src="../../../assets/images/MasterCard-light.png" />
                                <img src="../../../assets/images/Mada_Logo.png" />
                                <img src="../../../assets/images/fawry.png" />

                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="font-12 mt-5">
                        All manufacturer names, symbols, and descriptions, used in our images and text are used solely for identification purposes only. It is neither inferred nor implied that any item sold by Odiggo Egypt is a product authorized by or in any way connected with
                        any vehicle manufacturers displayed on this page
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
