.mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: black !important;
}
