<ul class="d-flex justify-content-between stepper">
    <li class="active">
        <img src="../../../../assets/images/doneIcon.svg" />
    </li>
    <li class="active">
        <img src="../../../../assets/images/doneIcon.svg" />
    </li>
    <li>
        <img src="../../../../assets/images/doneIcon.svg" />
    </li>
</ul>
<ul class="d-flex justify-content-between titles">
    <li class="font-12">
        Confirmed
    </li>
    <li class="font-12">
        In progress
    </li>
    <li class="font-12">
        Delivered
    </li>
</ul>
