<div class="form-group {{className}}" [ngClass]="haveButton ? 'haveButton':''">
    <label class="form-label" *ngIf="fieldLabel != ''">
    {{fieldLabel}}
  </label>
    <div class="d-flex">
        <input [formControl]="control" *ngIf="inputType != 'textarea' && inputType != 'dropdown'" type="{{inputType}}" placeholder="{{inputPlaceholder}}" class="form-control" [attr.disabled]="disabled ? 'disabled' : null" />
        <textarea [formControl]="control" *ngIf="inputType == 'textarea'" placeholder="{{inputPlaceholder}}" class="form-control" [attr.disabled]="disabled ? 'disabled' : null">
    </textarea>
        <button *ngIf="haveButton" [ngClass]="haveButton?'ml-4':''">
      Apply Promo
    </button>
        <select class="form-control" [formControl]="control" (change)="onChangeValue($event)" *ngIf="inputType == 'dropdown' && dataSource" name="" id="">
      <option disabled selected value> -- select an {{ fieldLabel }} -- </option>
      <option [value]="data.id" *ngFor="let data of dataSource"> {{ data.name }}</option>
    </select>

    </div>
</div>