<h2 class="heading-2 mb-3">
    Payment Options
</h2>
<div class="odiggoCard mb-3">
    <ul>
        <li>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio" name="payment">
                <label class="custom-control-label d-flex align-items-center" for="customRadio"> <img class="mr-3"
            src="../../../../../assets/images/bankIcon.png" />
          <div class="d-flex flex-column">
            Direct Bank Transfer
            <span>Secure credit card payment with Bank card .</span>
          </div>
        </label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio2" name="payment">
                <label class="custom-control-label d-flex align-items-center" for="customRadio2"> <img class="mr-3"
            src="../../../../../assets/images/CODIcon.png" />
          <div class="d-flex flex-column">
            Direct Bank Transfer
            <span>Pay with Cash when your order arrives at your doorstep.</span>
          </div>
        </label>
            </div>

        </li>
        <li class="mb-0">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="customRadio3" name="payment">
                <label class="custom-control-label d-flex align-items-center" for="customRadio3"> <img class="mr-3"
            src="../../../../../assets/images/fawryIcon.png" />
          <div class="d-flex flex-column">
            Pay by Fawry
            <span>Secure credit card payment with Fawry credit card .</span>
          </div>
        </label>
            </div>
        </li>
    </ul>
</div>