@import '../../../../../styles/0-base/base';
.service {
    background: #fff;
    padding: 70px 65px 20px;
    border-radius: 15px;
    text-align: center;
    .serviceIcon {
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: -40px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #E19411;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80%;
        }
    }
    h3,
    a {
        font-weight: $font_weight_medium;
    }
    p {
        font-weight: $font_weight_normal;
        margin: 12px 0 20px;
    }
    a {
        color: $base_red;
    }
}
